<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <header class="intro intro item">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="slider-heading">Škola gitare Gitarski Kutak</h2>
                            <p class="intro-text"></p>
                            <p><span>Naučite svirati električnu gitaru u opuštenoj i ugodnoj radnoj atmosferi. Naučite brže i bolje uz individualnu/skupnu nastavu&nbsp;i progam prilagođen svakom polazniku.</span></p>
                            <p></p>
                            <a href="http://skola-gitare.com/#about" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header class="intro electric item active">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="slider-heading">Poduke iz električne gitare</h2>
                            <p class="intro-text"></p>
                            <p>Savladaj "Leagto, Tapping, Sweeping" i sve ostale atraktivne tehnike na električnoj gitari!</p>
                            <p></p>
                            <a href="http://skola-gitare.com/#about" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header class="intro acoustic item">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="slider-heading">Poduke iz akustične gitare</h2>
                            <p class="intro-text"></p>
                            <p>Naučite svirati svoje najdraže pjesme na akustičnoj gitari</p>
                            <p></p>
                            <a href="http://skola-gitare.com/#about" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <a class="left carousel-control" href="http://skola-gitare.com/#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="http://skola-gitare.com/#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>