<ul class="flat-socials">
    <li class="facebook">
        <a href="{{.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li class="twitter">
        <a href="{{ .twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    <li class="instagram">
        <a href="{{ .instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
    </li>
    <li class="google">
        <a href="{{ .google }}" target="_blank"><i class="fa fa-google"></i></a>
    </li>
</ul>