<!DOCTYPE html>
<html lang="hr">
{{ partial "sg-head" . }}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{ partial "sg-nav" . }}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {{ range .Params.slider }}
            <header class="intro {{ .class }} item">
                <div class="intro-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <h2 class="slider-heading">{{ .title }}</h2>
                                <p class="intro-text">{{ .subtitle }}</p>
                                <a href="#about" class="btn btn-circle page-scroll">
                                    <i class="fa fa-angle-double-down animated"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            {{ end }}
        </div>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div id="about"></div>
    <!-- About Section -->
    <section class="about-us container white-wrap content-section text-center">
        <div class="text-center">
            <div class="row">
                <div class="">
                    <h1> {{ .Params.h1 }}</h1>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <i class="fa fa-envelope"></i><br /> <a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <i class="fa fa-mobile"></i><br /> <a href="callto:{{ .Site.Params.contact.mobile }}">{{ .Site.Params.contact.mobile }}</a>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <i class="fa fa-map-marker"></i><br /> <a href="mapto:{{ .Site.Params.contact.address }}">{{ .Site.Params.contact.address }}</a>
                </div>
            </div>
            <div class="call-to-action mg-t30">
                <div class="title mg-b30">
                    <h3>Podijelite sa ostalima</h3>
                </div>
                <div class="text-centre">
                    {{ partial "sg-share-buttons" . }}
                </div>
            </div>

        </div>
    </section>

    <div class="separator"> <span class="bluedot"></span> </div>
    <section class="white-grid no-join">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <p>
                        {{ .Params.content | markdownify}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="separator"> <span class="bluedot"></span> </div>

    <!-- Contact Section -->
    <section id="contact" class="about-me">
        <div class="white-wrap container content-section text-center">
            <div class="row">
                <h2>O nama</h2>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="{{ .Site.Params.author.image.medium }}" alt="Gitarski kutak o nama" class="guitar-player-image" />
                </div>
                <div class="col-lg-9 col-md-8 col-sm-6 contact-section-content">
                    <p>{{ .Params.aboutUs | markdownify }}</p>
                </div>
            </div>
        </div>
    </section>

    {{ partial "sg-footer" . }}
</body>