<!DOCTYPE html>
<html lang="hr">
{{ partial "sg-head" . }} 
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {{ partial "sg-nav" . }} 
  <div class="page-title parallax parallax1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title"> {{ .Params.h1 }}</h1>
                    {{ partial "sg-breadcrumbs" . }} 
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div>
  </div><!-- /.page-title -->
  <div class="white-grid joined">
    <div class="container top-container">
        <div class="row">
            <div class="col-md-6">
                <div class="meta-post course-list">
                    <ul class="pad clearfix chars">
                        {{ with .Params.date }}
                        <li class="post-date"><i class="fa fa-calendar"></i><span class="date-icon"> {{ . }}</span></li>
                        {{ end}}
                        {{ with .Params.tags }}
                        <li class="post-categories"><i class="fa fa-tag"></i><span class="date-icon"> {{ . }}</span></li>
                        {{ end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              {{ with  .Params.content }} {{ . }} {{ end }}
          </div>
      </div>
    </div>
    <div class="container bottom-container">
      <div class="row">
          <div class="col-md-12"></div>
      </div>
    </div>
  </div>

  {{ partial "sg-footer" . }} 
</body>
