<!DOCTYPE html>
<html lang="hr">
{{ partial "sg-head" . }} 
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {{ partial "sg-nav" . }} 
  <div class="page-title parallax parallax1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title"> Blog </h1>
                    {{ partial "sg-breadcrumbs" . }} 
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div>
  </div><!-- /.page-title -->

  <h2>OVO JE List bloga</h2>
  <!-- Flat courses list -->
  <section class="flat-row pad-top50px pad-bottom50px">
    <div class="container white-wrap">
      <div class="row">
        <div class="col-md-12">
          <div class="course-list">
            <ul>
            {{ range .Data.Pages }}
              {{ .Render "li"}}
            {{ end }}
            </ul>
          </div>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.flat-row -->
  
  
  {{ partial "sg-footer" . }} 
</body>
